@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html{
  font-family: var(--font-inter);
}

.custom-shape-divider-top-1706264669 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1706264669 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1706264669 svg {
      width: calc(107% + 1.3px);
      height: 101px;
  }
}

body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #171717;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color:  #ED7D31;    /* color of the scroll thumb */
  border-radius: 40px;       /* roundness of the scroll thumb */
}